
@import url("theme.css");

.wy-nav-side{
    background: #202020;
}

.wy-side-nav-search{
    background-color: #fad21b !important;
}

.wy-side-nav-search>a{
    color:#202020;
}

.version{
    display: none !important;
}

.wy-side-nav-search input[type=text]{
    border:1px solid #202020;
}

.wy-menu-vertical p.caption{
    color: #fad21b;
}

::selection {
    background:#fad21b; 
    color:#202020;
}
::-moz-selection {
    background:#fad21b; 
    color:#202020;
}
::-webkit-selection {
    background:#fad21b; 
    color:#202020;
}

.wy-menu-vertical a{
    color: #fbfbfb;
}

.wy-nav-content p>img{
    display:block;
    margin:20px auto;
}

.wy-nav-content a{
    color: #800000; 
}

.wy-nav-content h2{
    color: #202020; 
}

.wy-nav-content{
    max-width:800px;
    padding:2em 4em;
}

.wy-nav-content-wrap{
    background-color: #202020;
}

div#rtd-p5t93tfj{
    display: none !important;
}

@media screen and (min-width:768px) {
    .wy-nav-content-wrap {
        background:rgba(0,0,0,0.05);
    }
    .wy-nav-content {
        margin:0;
        background:#fcfcfc;
    }
    .wy-nav-top{
        background:#fad21b !important; 
        color: #202020 !important;
    }
    .wy-nav-top a{
        color: #202020; 
    }
}
